In [ ]:
"""%pip install -U scikit-learn
%pip install -U pandas
%pip install -U numpy
%pip install -U seaborn
%pip install -U matplotlib"""

In [ ]:
import sklearn

import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import seaborn as sns

In [ ]:
titanic_df = pd.read_csv('../Datasets/titanic_train.csv')
titanic_df.head(10)

In [ ]:
titanic_df.shape

In [ ]:
titanic_df.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis=1, inplace=True)

titanic_df.head()

In [ ]:
titanic_df[titanic_df.isnull().any(axis=1)].count()

In [ ]:
titanic_df = titanic_df.dropna()

In [ ]:
titanic_df.head(11)

The describe() method returns description of the data in the DataFrame.

If the DataFrame contains numerical data, the description contains these information for each column:

count - The number of not-empty values.

mean - The average (mean) value.

std - The standard deviation.

min - the minimum value.

25% - The 25% percentile*.

50% - The 50% percentile*.

75% - The 75% percentile*.

max - the maximum value.

In [ ]:
titanic_df.describe()

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))
plt.scatter(titanic_df['Age'], titanic_df['Survived'])

plt.xlabel('Age')
plt.ylabel('Survived')

In [ ]:
fig, ax = plt.subplots(figsize=(12, 8))
plt.scatter(titanic_df['Fare'], titanic_df['Survived'])

plt.xlabel('Fare')
plt.ylabel('Survived')

In [ ]:
pd.crosstab(titanic_df['Gender'], titanic_df['Survived'])

In [ ]:
pd.crosstab(titanic_df['Pclass'], titanic_df['Survived'])

Pandas dataframe.corr() is used to find the pairwise correlation of all columns in the Pandas Dataframe in Python. .

In [ ]:
titanic_df_DUPLICATE = titanic_df.copy()
titanic_df_DUPLICATE.drop(['Gender', 'Embarked'], axis=1, inplace=True)
titanic_data_corr = titanic_df_DUPLICATE.corr()

titanic_data_corr

In [ ]:
fig, ax = plt.subplots(figsize=(12, 10))

sns.heatmap(titanic_data_corr, annot=True)

In [ ]:
from sklearn import preprocessing

label_encoding = preprocessing.LabelEncoder()

titanic_df['Gender'] = label_encoding.fit_transform(titanic_df['Gender'].astype(str))

titanic_df.head()

In [ ]:
label_encoding.classes_

#### C = Cherbourg,  Q = Queenstown,  S = Southampton

In [ ]:
titanic_df = pd.get_dummies(titanic_df, columns=['Embarked'])

titanic_df.head()

In [ ]:
titanic_df = titanic_df.sample(frac=1).reset_index(drop=True)
titanic_df.head()

In [ ]:
titanic_df.to_csv('../Datasets/titanic_processed.csv', index=False)

In [ ]:
!ls ../Datasets